@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>Change your account settings</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangePassword">Change</a>
        </dd>
        <dt>Name:</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangeName">Change</a>
        </dd>
    </dl>
</div>