@{
    ViewData["Title"] = "Thank You";
}

<br/>
<div>
    <h4 class="text-sm-center">Thank you for taking the time to provide feedback for @ViewData["Module"].</h4>
    <h5 class="text-sm-center">You can return to module list by clicking <a asp-area=""  asp-controller="Home" asp-action="Index">here</a>.</h5>
</div>