@model Level

@{
    ViewData["Title"] = "Create Level";
}

<h2>Create</h2>

<form asp-action="Create">
    <div>
        <h4>Level</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Title" class="col-md-2 form-control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-md-2 form-control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="OrderingNumber" class="col-md-2 form-control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderingNumber" class="form-control">
                <span asp-validation-for="OrderingNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" value="Create" class="btn btn-primary"/>
            <a asp-action="Index" class="float-sm-right">Back to List</a>
        </div>
    </div>
</form>