@{
    ViewData["Title"] = "Access Denied";
}

<div class="row text-sm-center">
    <h1 class="text-danger">Access Dennied</h1>
    <p> You do not have access rights to this page, if you believe you should have access to this page, please contact system administrator.</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>