@model ConfirmEmailViewModel
@{
    ViewData["Title"] = "Set Your Password";
}

<form asp-controller="Account" asp-action="ConfirmEmail" method="post">
    <h4>Set your password.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <input asp-for="PassCode" type="hidden" />
    <input asp-for="UserId" type="hidden" />
    <div class="form-group row">
        <label asp-for="Password" class="col-md-2 form-control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmPassword" class="col-md-2 form-control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Set" class="btn btn-primary" />
    </div>
</form>