@{
    ViewData["Title"] = "You're All Set";
}

<h2>@ViewData["Title"].</h2>
<div>
    <br/>
    <p>
        Thank you for confirming your email and setting a password, you can now use the
        <a asp-area="" class="text-sm-center" asp-controller="Home" asp-action="Index"> website</a>.
    </p>
   

</div>