@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <h4>Enter your email</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Email" class="col-md-2 form-control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a class="float-xs-right" asp-action="Login">Back</a>
    </div>
</form>